/* Revert mentions and channel links */
#app-mount .wrapper_f5f4c9 {
  color: var(--brand-experiment-460);
  background: var(--brand-experiment-10a);

  text-decoration: none !important;
  padding: 0 1px;
}

#app-mount .wrapper_f5f4c9:hover {
  background: var(--brand-experiment);
  color: var(--brand-experiment-100);
}

/* Hide semi-transparent background if mentioned in message */
/*.mentioned_fa6fd2 .mention {
  background: transparent !important;
}*/
