/* Revert mentions and channel links */
#app-mount .wrapper_d4fa29 {
  color: var(--brand-experiment-460);
  background: var(--brand-experiment-10a);

  text-decoration: none !important;
  padding: 0 1px;
}

#app-mount .wrapper_d4fa29:hover {
  background: var(--brand-experiment);
  color: var(--brand-experiment-100);
}

/* Hide semi-transparent background if mentioned in message */
/*.mentioned_d5deea .mention {
  background: transparent !important;
}*/
