/**
  * @name Revert Rebrand (Reactions)
  * @author GooseNest
  * @donate https://github.com/sponsors/CanadaHonk
  * @description Reverts Discord's 2021 rebrand (font, colors, reactions, mentions, loading screen, home icon, reply ping color, and more)
  * @invite neMncS2
  * @source https://Goose-Nest.github.io/GT-RevertRebrand/src/RevertRebrand.theme.css
  * @website https://github.com/Goose-Nest/GT-RevertRebrand
  * @version 5.2
*/

/* Revert reactions */
.reaction_f61c73 {
  border-radius: .25rem;
  background: var(--background-modifier-selected);

  border: none;
}

.mentioned_d5deea .reaction_f61c73,
.mentioned_d5deea .reaction_f61c73:hover {
    background-color:var(--background-modifier-accent);
}

.reaction_f61c73 .reactionCount_f61c73 {
  color: var(--text-muted); /* A11Y-- */
}

.reaction_f61c73 .reactionInner_f61c73 {
  padding: 0 .375rem;
}

/* Self reactions */
.reaction_f61c73.reactionMe_f61c73 .reactionCount_f61c73 {
  color: var(--brand-experiment); /* A11Y-- */
}

.mentioned_d5deea .reaction_f61c73.reactionMe_f61c73,
.mentioned_d5deea .reactionMe_f61c73.reaction_f61c73:hover,
.reaction_f61c73.reactionMe_f61c73 {
  background-color: var(--brand-experiment-30a);
}

/* Reaction hover */
.reaction_f61c73:hover .reactionCount_f61c73 {
  color: var(--interactive-active) !important;
}

.reaction_f61c73:hover {
  background-color: var(--background-modifier-selected);
}

.reaction_f61c73.reactionMe_f61c73:hover {
  background-color: var(--brand-experiment-40a);
}
